<!DOCTYPE html>
<html>
  <head>
    <title>OttoInvoices</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <%= javascript_pack_tag 'xml_loader' %>
  </body>
</html>
